/* .app {
    height: calc();
} */
.plansDiv{
    margin: 30px;
    padding-top: 100px;
}
.myPlansBut{
    font-weight: bold;
}
.butGen{
    width: 125px;
    font-size: 14px;
    margin: 5px;
}
.buttonsStatusPlans{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin: 0px 0px 18px 0px;
    /* min-width: 242px; */

}
.noPlans{
    color: rgb(201, 201, 201);
}