.app {
    height: calc();
}
.plansDiv{
    margin: 30px;
    padding-top: 100px;
}
.myPlansBut{
    font-weight: bold;
}
.butGen{
    min-width: 102px;
    margin: 5px;
}
.buttonsStatus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 18px;
    /* min-width: 242px; */

}
.noPlans{
    color: rgb(201, 201, 201);
}