.app {
    height: calc();
}
.buttons{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    
}
.butGen{
    min-width: 102px
}
.buttonsStatus{
    display: flex;
    flex-wrap: wrap;
    min-width: 242px;

}
.noPlans{
    color: rgb(201, 201, 201);
}