* {
    color: rgb(121, 121, 121);
}

/* input {
    max-width: 50%;
    margin: auto;
} */
.SignupPage{
    padding-top: 100px;
}
.DPlanLogoSU{
    width: 10vw;
    margin-bottom: 20px;
}
form {
    justify-content: center;
}
.SignupPage{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 250px;
}

@media screen and (max-width:480px){
    .DPlanLogoSU{
        width: 25vw;
        margin-bottom: 20px;
    }
    form {
        justify-content: center;
    }
    .SignupPage{
        margin: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 70vw;
    }
}