.profile{
    color: rgb(234, 234, 234);
    margin: auto
}
.divGen{
    margin-bottom: 50px;
}
.colorText{
    color: rgb(199, 199, 199);
}
.profileImg{
    margin-bottom: 20px;
    width: 40vw;
}
.margins{
    margin-top: 20px;
}
.requests{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.friendsIcon{
width: 55px;
transition: 0.2s all ease-in-out;
}
.guestsIcon:hover {
transform: scale(1.05);
}

.guestsIcon:active {
transform: scale(0.9);
}
.editButtonProf{
    margin-bottom: 25px;
}