.profile{
    color: rgb(190, 190, 190);
    margin: auto
}
.divGen{
    margin-bottom: 50px;
}
.colorText{
    color: rgb(199, 199, 199);
}
.profileImg{
    margin-bottom: 20px;
    width: 40vw;
}
.margins{
    margin-top: 20px;
}