.navBarBackground{
    background-color: rgb(24, 24, 24);
    padding: 10px;
}
.logo{
    width: 6vw;
    min-width: 68px;
    max-width: 63px;
}
.profileImage{
    width: 5vw;
    min-width: 60px;
    max-width: 63px;
    border-radius: 50%;
}

.body {
    overflow: scroll;
}

.App {
    overflow: auto;
    height: 100vh;
    width: auto;
}

.root {
    max-width: 100%;
    overflow-x: hidden;
}