/* * {
    color: rgb(121, 121, 121);
} */

/* input {
    max-width: 50%;
    margin: auto;
} */

form {
   
    justify-content: center;

}
.LoginPage{
    padding-top: 100px;
}

.DPlanLogo{
    width: 10vw;
    margin-bottom: 20px;
}
form {
    justify-content: center;
}
.LoginPage{
    margin: auto;
    padding-top: 40px;
    width: 250px;
}

@media screen and (max-width:480px){
    .DPlanLogo{
        width: 40vw;
        margin-bottom: 20px;
    }
    form {
        justify-content: center;
    }
    .LoginPage{
        margin: auto;
        padding-top: 40px;
        width: 70vw;
    }
}