.newPlanDiv{
    padding: 30px;
    margin: 20px 60px 20px 60px;
    background-color: rgba(0, 0, 0, 0.601);
    border-radius: 10px;
}
.gen{
    margin: auto;
}

h1{
    color: rgb(218, 218, 218);
}
.planImage{
    width: 242px;
}
.gen{
    margin: 15px;
}
form{
    margin-top: 25px;
}
.titlePlan{
    padding: 8px;
    width: 50vw;
}
.planDescription{
    width: 50vw;
    padding: 8px;
    min-height: 100px;
}
.dateTitle{
    color: rgb(218, 218, 218);
}
.date{
    padding: 8px;
    margin-top: 0px;
    width: 40vw;
}
.locationDiv{
    margin-top: 35px;
}
.location{
    padding: 8px;
    width: 50vw;
}
.planImageTitle{
    color: rgb(218, 218, 218);
    margin-bottom: 12px;
}
.planImage{
    margin: auto;
    width: 50vw;
}

