.welcomePage {
    height: 100%;
    background-image: url("../../assets/welcomePage.png");
    padding-top: 220px;
    background-size: cover;
    background-position:right bottom;
   
  }

  .bigTitle{
    text-align: left;
    padding-left: 120px;
    font-size: 30px;
  }
  .DPlanDescription{
    text-align: left;
    padding-left: 120px;
    width: 50vw;
    font-size: 20px;
    color: rgb(212, 212, 212);
  }
  .buttonStart{
    text-align: left;
    padding-left: 120px;
    margin-top: 60px;
  }
  .buttonDetails{
    padding: 15px;
  }

  @media screen and (max-width:480px){
    .welcomePage {
      height: 100%;
      background-image: url("../../assets/welcomePageMob.png");
      padding-top: 100px;
      background-size: cover;
      background-position:right bottom;
     
    }
  
    .bigTitle{
      text-align: left;
      padding-left: 60px;
      font-size: 25px;
    }
    .DPlanDescription{
      text-align: left;
      padding-left: 60px;
      width: 90vw;
      font-size: 16px;
      color: rgb(212, 212, 212);
    }
    .buttonStart{
      text-align: left;
      padding-left: 60px;
      margin-top: 40px;
    }
    .buttonDetails{
      padding: 12px;
    }
  }