.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
  padding: 80px;
}

.carousel {
  width:640px;
  height:360px;
}

.carousel img {
  max-height: 50vh;
  object-fit: contain;
}
.carousel button {
  background-color: rgb(155, 141, 141);
}